.selection-p44
  color: red !important
.overlay-p44
  &.dragging
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: 10000
.popup-p44
  .p44-remove-button
    padding: 3px 10px 3px 10px
    font-size: 12px
    color: #FFF !important
    &:hover
      color: #FFF !important

  font-family: Verdana, sans-serif !important
  z-index: 26789
  -webkit-touch-callout: none
  -webkit-user-select: none
  user-select: none
  position: fixed
  right: 5px
  bottom: 5px
  height: 440px
  background-color: #F1F1F1
  padding: 5px
  border-radius: 2px
  width: 660px
  resize: both
  overflow: hidden
  display: block
  -webkit-box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.75)
  -moz-box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.75)
  box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.75)
  font-family: Verdana, sans-serif
  color: #000
  font-style: normal
  a span input div
    all: unset
    animation : none
    animation-delay : 0
    animation-direction : normal
    animation-duration : 0
    animation-fill-mode : none
    animation-iteration-count : 1
    animation-name : none
    animation-play-state : running
    animation-timing-function : ease
    backface-visibility : visible
    background : 0
    background-attachment : scroll
    background-clip : border-box
    background-color : transparent
    background-image : none
    background-origin : padding-box
    background-position : 0 0
    background-position-x : 0
    background-position-y : 0
    background-repeat : repeat
    background-size : auto auto
    border : 0
    border-style : none
    border-width : medium
    border-color : inherit
    border-bottom : 0
    border-bottom-color : inherit
    border-bottom-left-radius : 0
    border-bottom-right-radius : 0
    border-bottom-style : none
    border-bottom-width : medium
    border-collapse : separate
    border-image : none
    border-left : 0
    border-left-color : inherit
    border-left-style : none
    border-left-width : medium
    border-radius : 0
    border-right : 0
    border-right-color : inherit
    border-right-style : none
    border-right-width : medium
    border-spacing : 0
    border-top : 0
    border-top-color : inherit
    border-top-left-radius : 0
    border-top-right-radius : 0
    border-top-style : none
    border-top-width : medium
    bottom : auto
    box-shadow : none
    box-sizing : content-box
    caption-side : top
    clear : none
    clip : auto
    color : inherit
    columns : auto
    column-count : auto
    column-fill : balance
    column-gap : normal
    column-rule : medium none currentColor
    column-rule-color : currentColor
    column-rule-style : none
    column-rule-width : none
    column-span : 1
    column-width : auto
    content : normal
    counter-increment : none
    counter-reset : none
    cursor : auto
    direction : ltr
    display : inline
    empty-cells : show
    float : none
    font : normal
    font-family : inherit
    font-size : medium
    font-style : normal
    font-variant : normal
    font-weight : normal
    height : auto
    hyphens : none
    left : auto
    letter-spacing : normal
    line-height : normal
    list-style : none
    list-style-image : none
    list-style-position : outside
    list-style-type : disc
    margin : 0
    margin-bottom : 0
    margin-left : 0
    margin-right : 0
    margin-top : 0
    max-height : none
    max-width : none
    min-height : 0
    min-width : 0
    opacity : 1
    orphans : 0
    outline : 0
    outline-color : invert
    outline-style : none
    outline-width : medium
    overflow : visible
    overflow-x : visible
    overflow-y : visible
    padding : 0
    padding-bottom : 0
    padding-left : 0
    padding-right : 0
    padding-top : 0
    page-break-after : auto
    page-break-before : auto
    page-break-inside : auto
    perspective : none
    perspective-origin : 50% 50%
    position : static
    right : auto
    tab-size : 8
    table-layout : auto
    text-align : inherit
    text-align-last : auto
    text-decoration : none
    text-decoration-color : inherit
    text-decoration-line : none
    text-decoration-style : solid
    text-indent : 0
    text-shadow : none
    text-transform : none
    top : auto
    transform : none
    transform-style : flat
    transition : none
    transition-delay : 0s
    transition-duration : 0s
    transition-property : none
    transition-timing-function : ease
    unicode-bidi : normal
    vertical-align : baseline
    visibility : visible
    white-space : normal
    widows : 0
    width : auto
    word-spacing : normal
    z-index : auto
  .button-common-p44
    filter: alpha(opacity=40)
    -webkit-transition: 250ms ease
    transition: 250ms ease
    border-color: none
    border: none
    text-transform: none
    cursor: pointer
    &.active-p44
      background-color: #000
      color: white
      opacity: 0.4
    &:click
      background-color: #000
      color: white
      opacity: 0.4
    &:hover
      background-color: #000
      color: white
      opacity: 0.6
      filter: alpha(opacity=0.6)
  .foot-p44

    float: right
    width: 400px
    .left
      float: left
    .right
      float: right
      padding-right: 5px
    span
      color: #333
      font-size: 10px

    a
      all: initial
      font-size: 10px
      color: #333
      font-weight: bold
      &:hover
        text-decoration: underline
  .head-p44
    height: 20px
    cursor: move
    .close-p44
      cursor: pointer
      font-size: 15px
      font-weight: bold
      text-decoration: none
      color: #333
      position: absolute
      top: 7px
      right: 10px
      &:hover
        color: #777
  .content-p44
    height: 400px
    padding-top: 5px
    padding-bottom: 5px
    overflow: auto
    overflow-Y: hidden
    #points-block-p44
      display: none
    #list-block-p44
      position:relative
      display: inline-block
      width: 240px
      height: 98%
      text-align: center
      float: left
      #tabs-p44
        position:absolute
        bottom:0
        width: 222px
        :first-child
          margin-right: 5px
        :last-child
          margin-left: 5px
        .button-p44
          width: 45%
          display: inline-block
          font-size: 15px
          height: 30px
          line-height: 30px
          cursor: pointer
      #selector-p44
        padding-bottom: 10px
        width: 222px
        #input-container-p44
          display: inline-block
        #triangle-left-p44
          width: 0
          float: left
          height: 0
          border-style: solid
          border-width: 7.5px 15px 7.5px 0
          &.visible-p44
            border-color: transparent #999 transparent transparent
            &:hover
              border-color: transparent #777 transparent transparent
        .selector-p44-item
          display: inline-block
          border-color: transparent transparent transparent transparent
          margin-top: 10px
          &.visible-p44
            cursor: pointer
        #triangle-right-p44
          width: 0
          height: 0
          float: right
          border-style: solid
          border-width: 7.5px 0 7.5px 15px
          &.visible-p44
            border-color: transparent transparent transparent #999
            &:hover
              border-color: transparent transparent transparent #777
      #p44-input
        display: inline-block
        margin: 0
        width: 160px !important
        font-family: sans-serif
        font-size: 12px
        max-width: none !important
        min-width: none !important
        max-height: none !important
        min-height: 0 !important
        line-height: none !important
        box-sizing: content-box !important
        background-color: #FFF !important
        color: #000 !important
        font-family: sans-serif !important
        font-size: 12px !important
        border-style: inset
        border-image-source: initial !important
        border-image-slice: initial
        border-image-width: initial
        border-image-outset: initial
        border-image-repeat: initial
        appearance: none
        box-shadow: none !important
        border-radius: none !important
        padding: 10px !important
        border: solid 1px #dcdcdc !important
        transition: box-shadow 0.3s, border 0.3s !important
      ul
        margin-top: 0
        width: 222px
        height: auto
        padding: 0
        li
          margin: 0
          width: 220px
          font-size: 12px
          white-space: nowrap
          height: 30px
          line-height: 30px
          padding: 2px
          cursor: pointer
          overflow: hidden
          text-align: left
          text-overflow: ellipsis
    #show-hide-p44
      display: inline-block
      width: 10px
      height: 100%
      cursor: pointer
      position: relative
      &:hover
        .triangle-p44
          &.right
            border-color: transparent transparent transparent #606060
          &.left
            border-color: transparent #606060 transparent transparent
      .triangle-p44
        width: 0
        height: 0
        border-style: solid
        position: absolute
        top: 50%
        margin-top: -10px
        &.right
          border-width: 10px 0 10px 10px
          border-color: transparent transparent transparent #777
        &.left
          border-width: 10px 10px 10px 0
          border-color: transparent #777 transparent transparent
    #map-p44
      display: inline-block
      width: 400px
      float: right
      height: 100%
